# Misc
.DS_Store
.dart_tool/
.packages
.pub-cache/
pubspec.lock

# Flutter/Dart/Pub related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.meliorate/
.idea/
.vscode/
build/
coverage/

# Android
**/android/local.properties
**/*.iml
**/.gradle/
**/captures/

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Xcode
**/ios/Runner.xcodeproj/project.pbxproj
**/ios/Runner.xcodeproj/xcshareddata/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Runner.xcworkspace/xcuserdata/

# Web
**/web/.dart_tool/
**/web/build/

# Linux/Windows/macOS
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugins.cmake

# Coverage
coverage/
